# Byte-compiled / optimized / DLL files
__pycache__/

# custom
**/screenshot/*
**/temp/*

*openai_key*
*qwen_key*
*api_key*
*/log/*
*/usage/*
Mobile-Agent-v2/log/*
Mobile-Agent-v2/usage/*
screenshot*
*.mp4